.descr1 { 
font-family: "lucida handwriting";
font-size:55px;
color: #ff6666;
align-content: center;
text-align: center;
text-decoration: underline ;
background-color:none;}

#info1 {
	font-size:20px;
	font-family:"bookman old Style";
	font-style:italic;
	text-align: center;
	font-weight: 35;
	line-height: 18px;
	letter-spacing: 2.5px;
	color: blue;
}
a:visited { color:#ff8000; }

#box1 {
	display: block;
	position:relative;
	padding:20px;
	border-color: #45599;
	border-width: 12px;
	border-style:grooved;
	margin: 0px;
	float:left;
	width:50%;
}

.common-name {
	font-family:"Sans Serif";
	color:green;
	font-weight: 20;
	line-height: 15px;
	letter-spacing: 1.5px;
}

.disclaimer{
	font-size:10px;
	font-family:"bookman old Style";
	font-style:italic;
	text-align: center;
	font-weight: 20;
	color: blue;
}

.flower-descr {
	position: relative;
	font-family:"Sans Serif";
	color:magenta;
	font-weight: 35;
	line-height: 25px;
	letter-spacing: 2.5px;
	padding:0px;
	border-color: #45599;
	border-width: 2px;
	margin: 0px;
	float:left;
	width: 50%;
    top:-500px;
    left:810px;
    padding-right: 5px;
    margin: 12px;
}
}